{% extends "indexf.html" %}

{% block content %}
<p></p>
<h3 style="text-align: center">UNO O MAS ARCHIVOS PRESENTAN ERRRORES</h3>
<p style="margin-left: 10px;">Verifique y corrija los siguientes errrores antes de Volver y ejecutar de nuevo el programa</p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p style="margin-left: 10px;">{{ msg }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <ul>
    {% for i in lista_errores %}
      <li style="margin-left: 10px; white-space:pre;">{{ i }}</li>
    {% endfor %}
  </ul>
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/" class="btn btn-primary">Volver</a>
  <!--<button type="button" class="btn btn-primary" onclick="location.href='/';">Volver</button>-->
</div>
{% endblock %}